<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <% include messages %>
    <div>認証状態[<%= authStatus %>]</div>
    <div>ロール[<%= role %>]</div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/auth/login">ログイン画面</a>
    <% if(authStatus == true){ %>
    <a href="/auth/logout">ログアウト</a>
    <% } else { %>
   <span>ログアウト</span>
    <% } %>
    <% if(role == "admin"){ %>
    <a href="/auth/users">ユーザー一覧</a>
    <a href="/auth/create-user">ユーザー登録</a>
    <% } %>
  </body>
</html>
