  <nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
      <ul class="nav navbar-nav navbar-left">
      <li>
        <a href="/">トップ</a>
      </li>
      </ul>
      <p class="navbar-text navbar-left" style="color:white">
      <%= header.username %>&nbsp;<%= header.fullname %>&nbsp;
    認証状態[<%= header.authStatus %>]&nbsp;
    ロール[<%= header.roles %>]
    認可[<%= header.authen %>]
    </p>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <% if(header.authStatus == true){ %>
          <li>
            <p class="navbar-text">ログイン</p>
          </li>
          <li>
            <a href="/auth/logout">ログアウト</a>
          </li>
          <% } else { %>
          <li>
            <a href="/auth/login">ログイン</a>
          </li>
          <li>
            <p class="navbar-text">ログアウト</p>
          </li>
          <% } %>
          <% if(header.authen["user-manage"]){ %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">ユーザー管理<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/auth/users">ユーザー一覧</a></li>
              <li><a href="/auth/create-user">ユーザー登録</a></li>
            </ul>
          </li>
          <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>