<!DOCTYPE html>
<html>
  <head>
    <title>ユーザーリスト</title>
    <% include um_head %>
	<script>
    	function back(){
			location.href="/";
    	}

		$(function(){
			$('#back').click(back);
		});
    </script>
  </head>
  <body>
    <% include um_navbar %>
	<% include um_messages %>
	<div class="container" role="main">
	<table class="um-user-list table">
		<tr>
    		<th>No.</th>
    		<th>ID</th>
    		<th>姓</th>
    		<th>名前</th>
    		<th>ロール</th>
    		<th></th>
    		<th></th>
    	</tr>
    <% for (var i = 0;i < users.length;i++){ %>
		<tr>
			<td><%= i + 1 %></td>
			<td><%= users[i].username %></td>
			<td><%= users[i].surname %></td>
			<td><%= users[i].firstname %></td>
			<td><%= users[i].roles %></td>
			<td><a href="/auth/user/<%= users[i].username %>">編集</button></td>
			<td><a href="/auth/delete/<%= users[i].username %>">削除</button></td>
		</tr>
	<% } %>
	</table>
    <div>
	  	<button id="back" class="btn btn-default">戻る</button>
	</div>
	</div>
  </body>
</html>
