<!DOCTYPE html>
<html>
  <head>
    <title>ユーザーリスト</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
    function edit(index){
    	
    }
    </script>
  </head>
  <body>
	<% include messages %>
	<table border="1">
    <% for (var i = 0;i < users.length;i++){ %>
		<tr>
			<td><%= i + 1 %></td>
			<td><%= users[i].username %></td>
			<td><%= users[i].surname %></td>
			<td><%= users[i].firstname %></td>
			<td><%= users[i].role %></td>
			<td><a href="/auth/user/<%= users[i].username %>">編集</button></td>
			<td><a href="/auth/delete/<%= users[i].username %>">削除</button></td>
		</tr>
	<% } %>
	</table>
	<a href="/">トップ</a>
    <a href="/auth/create-user">ユーザー登録</a>
  </body>
</html>
